﻿@page
@model EmployeeManagementSystem.Pages.Auth.DeniedModel
@{
}

<div class="text-center">
    <div class="justify-content-center">
        <h1>ACCESS DENIED</h1>

    </div>
    <hr />

    <p>
        You are not allowed to view this page.
        If this is a mistake, please contact your administator.
    </p>
</div>