﻿@page
@model EmployeeManagementSystem.Pages.Auth.LoginAccessKeyModel
@{
    ViewData["Title"] = "Login";

}
<div class="text-center">
    <div class="justify-content-center">
        <h3>EMPLOYEE</h3>
        <h1>Management System</h1>
    </div>
    <hr />
</div>
<div class="d-lg-flex justify-content-center align-items-center text-center">
    <div class="card">
        <div class="card-body">
            <form method="post" autocomplete="off" spellcheck="false">
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong> @Model.ErrorMessage
                    </div>
                }
                <input asp-for="@Model.AccessKey" class="form-control mt-2" autofocus placeholder="Your Access Key" required/>
                <button type="submit" class="form-control btn btn-success mt-2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Sign In
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </button>

                <a asp-page-handler="RequestAccess">Request Access Key</a>
            </form>
        </div>
    </div>
</div>