﻿@page
@model EmployeeManagementSystem.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Register";

}

<div class="text-center">
    <div class="justify-content-center">
        <h3>REGISTER</h3>
        <h1>&bull; Request Access &bull;</h1>
        <hr />
    </div>
</div>
<div class="d-lg-flex justify-content-center align-items-center text-center">
    <div class="card">
        <div class="card-body">
            <form method="post" autocomplete="off" spellcheck="false">
                @if (Model.IsShowMessage)
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> @Model.Message1<br />
                        @Model.Message2
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong> @Model.ErrorMessage
                    </div>
                }
                <input type="email" asp-for="@Model.RegisterForm.Email" class="form-control mt-2" autofocus placeholder="Your Email Address" required />
                <input type="text" asp-for="@Model.RegisterForm.Username" class="form-control mt-2"  placeholder="Username" required />
                <input type="password" asp-for="@Model.RegisterForm.Password" class="form-control mt-2"  placeholder="Password" required />
                <input type="password" asp-for="@Model.RegisterForm.ConfirmPassword" class="form-control mt-2"  placeholder="Confirm Password" required />
                <button type="submit" class="form-control btn btn-success mt-2">Register</button>

                <a asp-page="./Login">Return to Login Page</a>
            </form>
        </div>
    </div>
</div>