﻿@page
@model EmployeeManagementSystem.Pages.Auth.RequestAccessModel
@{
    ViewData["Title"] = "Request Access";

}

<div class="text-center">
    <div class="justify-content-center">
        <h3>REQUEST</h3>
        <h1>&bull; Access Key &bull;</h1>
        <hr />
    </div>
</div>
<div class="d-lg-flex justify-content-center align-items-center text-center">
    <div class="card">
        <div class="card-body">
            <form method="post" autocomplete="off" spellcheck="false">
                @if (Model.IsShowMessage)
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> @Model.Message1<br />
                        @Model.Message2
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong> @Model.ErrorMessage
                    </div>
                }
                <input type="email" asp-for="@Model.Email" class="form-control mt-2" autofocus placeholder="Your Email Address" required/>
                <button type="submit" class="form-control btn btn-success mt-2">Request Access Key</button>

                <a asp-page="./Login">Return to Login Page</a>
            </form>
        </div>
    </div>
</div>