﻿@page
@model EmployeeManagementSystem.EmployeeMS.Pages.NewEmployeeModel
@{
    ViewData["Title"] = "New Employee";
}
<div class="col-md-12">
    <form method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Employee.EmployeeID"></label><span class="text-danger">*</span>
                    <input asp-for="Employee.EmployeeID" class="form-control" required autofocus />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Name"></label><span class="text-danger">*</span>
                    <input asp-for="Employee.Name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.NIK"></label><span class="text-danger">*</span>
                    <input asp-for="Employee.NIK" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Email"></label><span class="text-danger">*</span>
                    <input asp-for="Employee.Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.PhoneNumber"></label><span class="text-danger">*</span>
                    <input asp-for="Employee.PhoneNumber" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.NPWP"></label>
                    <input asp-for="Employee.NPWP" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Address"></label>
                    <textarea asp-for="Employee.Address" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Employee.PlaceOfBirth"></label>
                    <input asp-for="Employee.PlaceOfBirth" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.DateOfBirth"></label>
                    <input type="date" asp-for="Employee.DateOfBirth" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Position"></label>
                    <input asp-for="Employee.Position" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Religion"></label>
                    <select asp-for="Employee.Religion" asp-items="Model.Religions" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Employee.EmergencyContactName"></label>
                    <input asp-for="Employee.EmergencyContactName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.EmergencyContactNo"></label>
                    <input asp-for="Employee.EmergencyContactNo" class="form-control" />
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="/Index" type="button" class="btn btn-light">Return</a>
    </form>

</div>